<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交互数据</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="js/bootstrap.css">


    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vue-resource.js"></script>
    <script type="text/javascript">
        window.onload=function (){
            //过滤器
            Vue.filter('uppercase', function(value) {
                if (!value) { return ''}
                value = value.toString()
                //value.charAt(0).toUpperCase() + value.slice(1)
                return value.toUpperCase()
            })
            var app = new Vue({
                el:"#app",
                data:{
                    message:"你好",
                    a:1,
                    b:3
                },
                methods:{
                    getData:function(){
                        this.$http.get('get.php',{
                            a:1,
                            b:3
                        }).then(function(res){
                            alert(res.data);
                        },function(res){
                            alert(res.status);
                        })
                    },
                    postData: function () {
                        this.$http.post('post.php',{
                            a:1,
                            b:32
                        },{
                            emulateJSON:true
                        }).then(function(res){
                            alert(res.data);
                        },function (res){
                            alert(res.status);
                        });
                    }
                }
            })

        }
    </script>
</head>
<body style="padding: 20px;">
<div id="app">
    <div class="container">
        <form class="bs-example bs-example-form" role="form">
            <div >
                <h3>get获取数据</h3>
                <button class="btn btn-danger btn-sm" name="button"  data-dismiAss="modal" @click="getData()">获取数据</button>
                <h3>post提交数据</h3>
                <button class="btn btn-danger btn-sm" name="button"  data-dismiAss="modal" @click="postData()">获取数据</button>
            </div>
        </form>
    </div>
</div>

</body>




</html>